# These are the people responsible for various parts of TCDFx.

# If you want to be responsible for code reviews in specific sections of
# the TCDFx code base, edit this file with your name next to the section
# you'd like, and submit a pull request.

# Maintainer
*                                            @tom-corwin

# Packages
source/                                      
source/TCD.Collections.MultiValueDictionary/ 
source/TCD.Disposable/                       
source/TCD.Drawing.Common/                   
source/TCD.Drawing.Primitives/               
source/TCD.Drawing.Text/                     
source/TCD.InteropServices/                  
source/TCD.UI/                               

# Examples
examples/                                   